@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
}

@layer components {

  .header-nav-link {
    @apply hover:text-chinney-gold cursor-pointer transition-colors;
  }
}

@layer utilities {

}